.Home {
	text-align: center;
	color: White;
	/* background: linear-gradient(to right, #c33764, #1d2671); */
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}

.title{
	position: fixed;
  	top: 13vh;
  	left: 10vh;
	height: 50%;
}

.LoaderPage{
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to top, #00b09b, #96c93d); 
}
.Loader{
	margin-left: auto;
	margin-right: auto;
}

.itemBox{
	max-height:700px;
	width:600px;
	border:5px;
	border-radius:1%;
	margin-top:4vh;
	padding-bottom: 2vh;
	background-color:rgba(255, 255, 255, 0.2);
}

.reaction{
	display: flex;
	flex-direction: row;
	align-items: left;
	margin-top:20px;
	margin-left: 50px;
}